[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
wtforms = "*"
types-wtforms = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-login = "*"
gunicorn = "*"
psycopg2 = "*"
black = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3"
