{% extends "components/layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Create a New Book</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.title.label(class="form-label") }}
                                {{ form.title(class="form-control") }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.author.label(class="form-label") }}
                                {{ form.author(class="form-control") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.isbn.label(class="form-label") }}
                                {{ form.isbn(class="form-control") }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.price.label(class="form-label") }}
                                {{ form.price(class="form-control") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.category.label(class="form-label") }}
                                {{ form.category(class="form-control") }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.faculty.label(class="form-label") }}
                                {{ form.faculty(class="form-control") }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form.stock.label(class="form-label") }}
                            {{ form.stock(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control", rows="4") }}
                        </div>
                        <div class="mb-4">
                            {{ form.cover_image.label(class="form-label") }}
                            {{ form.cover_image(class="form-control") }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Create Book</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
