{% extends "components/layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Books</h1>
    {% if current_user.is_authenticated and current_user.is_admin %}
    <a href="{{ url_for('books.create_book') }}" class="btn btn-primary mb-3">Add New Book</a>
    {% endif %}
    
    <div class="row">
        {% from 'components/book_card.html' import book_card %} {% for book in books
        %}
        <div class="col-md-4 mb-4">{{ book_card(book) }}</div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
