{% extends "components/layout.html" %} {% block content %}
<main class="container my-4">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="alert alert-warning" role="alert">
    {% for category, message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}
  <!-- search bar -->
  <div class="row mb-4">
    <div class="col-md-6 mx-auto">
      <form
        class="d-flex"
        action="{{ url_for('books.list_books') }}"
        method="GET"
      >
        <input
          type="text"
          class="form-control"
          name="search"
          placeholder="Search books..."
          value="{{ request.args.get('search', '') }}"
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>

  <!-- carousel -->
  <div class="row py-4">
    <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for book_index_group in book_indices|batch(3) %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
          <div class="d-flex justify-content-around">
            {% for book_index in book_index_group %}
            <img
              src="{{ url_for('static', filename='img/books/' + book_index|string + '.jpg') }}"
              class="d-block w-25"
              alt="{{ book_index }}"
            />
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#bookCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#bookCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="my-4 row justify-content-between">
    <h2 class="w-25">Recent Additions</h2>
    <a href="{{ url_for('books.list_books') }}" class="w-25 btn btn-primary"
      >View All</a
    >
  </div>
  <div class="row">
    {% from 'components/book_card.html' import book_card %} {% for book in books
    %}
    <div class="col-md-4 mb-4">{{ book_card(book) }}</div>
    {% endfor %}
  </div>
</main>
{% endblock %}
