<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/kyc/terms-and-conditions" class="text-light">Terms & Conditions</a></li>
                    <li><a href="/auth/login/?role=admin" class="text-light">Admin Login</a></li>
                    <li><a href="/auth/login/?role=driver" class="text-light">Driver Login</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <address class="text-light">
                    University Library Bookstore<br>
                    123 Campus Drive<br>
                    University Town, ST 12345<br>
                    <i class="fas fa-phone"></i> (123) 456-7890
                </address>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-links">
                    <a href="#" class="text-light me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-2"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
